/*--------------------------------
  Layout style
---------------------------------*/

header {
  background-color: #f2f3f3;
  width: 100%;
  height: 100vh;
  .header__center-block {
    @extend .centerxy;
    text-align: center;
    color: #f2f3f3;
    .header__center-block__logo {
      display: block;
      width: 26px;
      height: auto;
      margin: 0 auto;
    }
    .header__center-block__title {
      letter-spacing: 1px;
      font-size: 1.625rem;
    }
    .header__center-block__paragraph {
      opacity: 0.48;
      max-width: 230px;
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }
  .header__cover {
    width: 100%;
    height: 100%;
    background-color: #0c0c0c;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.19;
    }
  }
}
